  body{
  background-color: antiquewhite;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.see{
    background-color: rgb(241, 241, 241);
    width: 900px;
    margin: 0 auto;
    max-width:450px;
    border-radius: 20px 20px;  
    padding: 10px;
}

.image{
    width: 100%;
    height: 250px;
    border-radius: 20px 20px;
}

.second{
    padding-left: 20px;
}

.section{
    background-color: rgba(255, 192, 203, 0.433);
    max-width: 4000px;
    /* border-radius: 20px 20px; */
 }

 .ingred{
    font-family: "Georgia", serif;
 }

 .prepare{
     font-family: "Georgia", serif;
 }

 .instruct{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .nutri{
    
 }

 .view{
    display: flex;
    justify-content: space-around;
    /* text-decoration: underline; */
    margin-top: -20px;
    
 } 

 .one{
    margin-top: 0;
 }

@media ( max-width:900px){
   .see{
      flex-direction: column;
   }
}

.prep{
   color: rgb(246, 79, 79);
}

.iwx{
   color: rgb(245, 69, 69);
}

.list{
   color: brown;
}